*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color: rgb(20, 20, 20);
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}
/* codigo heeader  */

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 19%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
}

/* aca empieza el disenio del bodyyyy*/

.busqueda {
    width:100%;
    margin-bottom: 30px;
}

.busqueda .respuestaBuscada {
    height: 30px;
    width: 100%;
    border: 2px dashed grey;
    display: flex;
    align-items: center;
}

.busqueda .respuestaBuscada a {
    width: 100%;
    padding-left: 3px;
}

.busqueda .listadoRespuestas {
    width: 100%;

}

.busqueda .listadoRespuestas h1{
    margin-bottom: 0;
}

.busqueda .listadoRespuestas ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.busqueda .listadoRespuestas ul li{
    width: 100%;
}

/* aca empieza el disenio de los divs dentro de los li */

h3{
    margin: 35px 0px 0px 0px;
}
.genero{
    width: 100%;
}

.genero .generalGenero{
    width: 100%;
    margin-top: 10px;
    padding-left: 40px;
    
}

.genero .generalGenero .fotoGenero {
    height: 100px;
    width: 10%;
    margin-top: 18px;
}

.genero .generalGenero .fotoGenero img{
    width: 100%;
    border-radius: 50%;
}
.genero .generalGenero .nombreGenero {
    width: 10%;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.genero .generalGenero .nombreGenero a{
 width:75%;
 text-align: center;
}

.genero .canciones{
    width: 100%;
    
}

.genero .canciones .cancion {
    width: 100%;
    height: 30px;
    background-color:  rgb(59, 59, 59);
    margin: 6px 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.genero .canciones .cancion a{
    width: 100%;
}



/*aca empieza el disenio del footer */


footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}

@media(max-width:375px){
    /* aca es lo general y el header*/
    .container{
        width: 375px;
        }
    
        .barraNavegacion {
            height: 20px;
        }
    
        .barraNavegacion ul li a{
            font-size: 12px;
    
        }

        /* aca va el footer */
        footer{
            height: 50px;
            font-size: x-small;
           
        }

}
