*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}






/* codigo header */

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 24%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
}


/* fin heeader */


/*aca empieza el codigo de main*/

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1265px;
}

.columna{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

/* aca empieza el codigo del artista */

.artista{
    width: 49%;
    background-color: indigo;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.artista .generalArtista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artista .generalArtista .fotoArtista{
    width: 100%;
    display: flex;
    justify-content: center;

}

.artista .generalArtista .fotoArtista img{
    width: 150px;
}


.artista .generalArtista .nombreApellido{
    width: 30%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;

}

.artista .generalArtista .seguidoresArtista{
    background-color:rgba(36, 144, 148, 0.70);
    width: 30%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
    

}

.artista .canciones{
    display: flex;
    flex-direction: column;
    padding:  0px 10px;
    margin-top: 20px;
    
}

.artista .canciones .cancion2{
    background-color:rgb(59, 59, 59);
    width: 100%;
    height: 30px;
    padding: 7px;
    margin-top: 3px;
}

/* aca empieza el album track */

.album-track{
    width: 49%;
    background-color: lightcoral;
    margin-bottom: 10px;
}

.albumTrack .general-album-track .nombre-album-track{
    background-color: grey;
    width: 30%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.albumTrack .general-album-track .subnombre-album-track{
    width: 30%;
    height: 100%;
    margin-top: 6%;
    text-align: center;

}

.albumTrack .general-album-track .estreno-album-track{
    background-color: grey;
    width: 30%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.albumTrack .genero-album-track{
    background-color: grey;
    width: 30%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.genero{
    width: 49%;
    background-color: lightseagreen;
}

.propaganda {
    width: 19%
}

.propaganda img {
    width: 100%;
}








footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foto-album-track {
  display: flex;
  justify-content: center;
}

.generalGenero{
    display: flex;
  justify-content: center;
}


.help{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;
}

.tango4{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;
}

.lewis{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;
}

.house{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;

}

.logoDeezer img {
    height: 100%;
}

@media(max-width:375px){
    /* aca es lo general y el header*/
    .container{
        width: 375px;
        }
    
        .barraNavegacion {
            height: 20px;
        }
    
        .barraNavegacion ul li a{
            font-size: 12px;
    
        }

        /* aca va el footer */
        footer{
            height: 50px;
            font-size: x-small;
           
        }

}