*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color:  rgb(20, 20, 20);
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}






/* codigo header */

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 19%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
}

.barraNavegacion ul li form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.barraNavegacion ul li form button{
    height: 100%;
    width: 15%;
    background-color: rgba(36, 144, 148, 0.70);
}
.barraNavegacion ul li form input{
    height: 100%;
    width: 85%;
    background-color: rgba(36, 144, 148, 0.70);
}


/* fin heeader */


/*aca empieza el codigo de main*/

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columna{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

/* aca empieza el codigo del artista */

.artista{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(46, 46, 46);


}

.artista .generalArtista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.artista .generalArtista .fotoArtista{
    width: 100%;
    display: flex;
    justify-content: center;

}

.artista .generalArtista .fotoArtista img{
    width: 150px;
}


.artista .generalArtista .nombreApellido{
    width: 30%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;

}

.artista .generalArtista .seguidoresArtista{
    background-color:rgba(36, 144, 148, 0.70);
    width: 30%;
    height: 100%;
    margin-top: 10px;
    text-align: center;
    

}

.artista .canciones{
    display: flex;
    flex-direction: column;
    padding:  0px 10px;
    margin-top: 20px;
    
}

.artista .canciones .cancion2{
    background-color:rgb(59, 59, 59);
    width: 100%;
    height: 30px;
    padding: 7px;
    margin-top: 5px;
}




/* aca empieza el album */

.album{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 3px rgb(46, 46, 46);
}

.album .fotoAlbum img{
    width: 150px;
    

}

.album .generalAlbum .nombreAlbum{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.album .generalAlbum .nombreAlbum h1{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.album .generalAlbum .subnombreAlbum{
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border: 3px dashed rgba(36, 144, 148, 0.70);

}

.album .generalAlbum .subnombreAlbum h3{
    margin:0;
}

.album .generalAlbum .estrenoAlbum{
    margin-top: 10px;
    text-align: center;
}

.album .generalAlbum .estrenoAlbum h4{
    margin: 0;
    margin: 10px 0;
    text-align: center;

}


.album .generoAlbum{
    margin-top: 10px;
    text-align: center;
    height: 30px;
    background-color: rgba(36, 144, 148, 0.70);
    padding: 3px 7px;
    font-size: 20px;

}

.album .generAlbum a{
    text-transform: uppercase;
    
}

/* aca empieza el codigo de track */

.track{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 3px rgb(46, 46, 46);
}

.track .fotoTrack img{
    width: 150px;
    

}

.track .generalTrack .nombreTrack{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.track .generalTrack .nombreTrack h1{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.track .generalTrack .subnombreTrack{
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border: 3px dashed rgba(36, 144, 148, 0.70);

}

.track .generalTrack .subnombreTrack h3{
    margin:0;
}

.track .generalTrack .estrenoTrack{
    margin-top: 10px;
    text-align: center;
}

.track .generalTrack .estrenoTrack h4{
    margin: 0;
    margin: 10px 0;
    text-align: center;

}


.track .generoTrack{
    margin-top: 10px;
    text-align: center;
    height: 30px;
    background-color: rgba(36, 144, 148, 0.70);
    padding: 3px 7px;
    font-size: 20px;

}

.track .generoTrack a{
    text-transform: uppercase;
    
}

.track form button{
    background-color: coral;
    margin: 20px 0;
    height: 30px;
}


/* aca empieza el codigo de genero */


.genero{
    width: 100%;
    border: solid 3px rgb(46, 46, 46);
}

.genero .generalGenero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.genero .generalGenero .fotoGenero{
    width: 100%;
    display: flex;
    justify-content: center;

}

.genero .generalGenero .fotoGenero img{
    width:150px;
}

.genero .generalGenero .nombreGenero{
    margin-top: 20px;
    font-size: 30px;
    background-color: rgba(36, 144, 148, 0.70);
}

.genero .canciones{
    display: flex;
    flex-direction: column;
    padding:  0px 10px;
    margin-top: 20px;
    
}

.genero .canciones .cancion2{
    background-color:rgb(59, 59, 59);
    width: 100%;
    height: 30px;
    padding: 7px;
    margin-top: 5px;
}



/* codigo de propaganda */


.propaganda {
    width: 19%
}

.propaganda img {
    width: 100%;
}


/* aca empieza el codigo del footer */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}


/* aca empieza el media querie para mobile */

@media(max-width:375px){
    /* aca es lo general y el header*/
    .container{
        width: 375px;
        }
    
        .barraNavegacion {
            height: 20px;
        }
    
        .barraNavegacion ul li a{
            font-size: 12px;
    
        }

        .artista .generalArtista .fotoArtista img{
            width: 80px;
        }

        .genero .generalGenero .fotoGenero img{
            width:80px;
        }
        .album .fotoAlbum img {
            width: 112px;
        }

        .track .fotoTrack img {
            width: 112px;
        }

        .artista .canciones .cancion2 {
            background-color: rgb(59, 59, 59);
            width: 100%;
            height: 45px;
            padding: 4px;
            margin-top: 5px;
        }

        .genero .canciones .cancion2 {
            background-color: rgb(59, 59, 59);
            width: 100%;
            height: 49px;
            padding: 2px;
            margin-top: 6px;
        }

        .genero .generalGenero .nombreGenero {
            margin-top: 14px;
            font-size: 22px;
        }

        .track .generoTrack{
            height: 32px;
            font-size: 16px;
        }

        .album .generoAlbum{
            height: 32px;
            font-size: 16px;
        }

        .propaganda img{
            height: 660px;
        }

        .artista .generalArtista .seguidoresArtista{
            width: 74px;
            font-size: 13px;
        }

        /* aca va el footer */
        footer{
            height: 50px;
            font-size: x-small;
           
        }

}