/*aca empieza el codigo para el body y lo general de la pagina*/

*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
    
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color: rgb(20, 20, 20);
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 24%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
}

.barraNavegacion ul li form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.barraNavegacion ul li form button{
    height: 100%;
    width: 15%;
    background-color: rgba(36, 144, 148, 0.70);
}
.barraNavegacion ul li form input{
    height: 100%;
    width: 85%;
    background-color: rgba(36, 144, 148, 0.70);
}

/* aca empieza el codigo para el main de la pagina*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 1265px;
    margin-bottom: 20px;
}

/* realeases y video */
.loNuevo {
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.loNuevo .newReleases{
    width: 32.3%;
    display: flex;
    align-items: flex-end;
    background-color: black;
}

.loNuevo .newReleases a{
    padding: 18px 22px;
    font-size: 66px;
}

.loNuevo .sliderReleases{
    width: 66.6%;
    background-color: black;
}

.loNuevo .sliderReleases .video {
    width: 100%;
    height: 100%;
}

/*playlists*/

.playlists{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: width 2s, height 4s;
}

.playlists .playlist:hover {
    box-shadow: 0 12px 16px 0 rgba(204, 201, 201, 0.24),0 17px 50px 0 rgba(202, 199, 199, 0.19);
  }

.playlists .playlist {
    width: 24.5%;
    height: 50%;
    background-color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: xx-large;
    position: relative;
    z-index: 1;
    padding: 5px;
}


.playlists .playlist img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0.55;

}

.playlists .playlist a{
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    font-size: 150%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* aca empieza el codigo para el footer de la pagina*/

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}

@media(max-width:375px){
    
    .container{
        width: 375px;
        padding: 7px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        padding:0; */
    }

    header{
        width:100%;
        margin-top: 6px;
    }

    main{
        width: 375px;
        /* display: flex;
        flex-direction: column; */
        height: 600px;
        margin-bottom: 20px;
    }

    .loNuevo .newReleases a{
        padding: 7px 12px;
        font-size: 26px;
    }

    .playlists .playlist a{
        font-size: 20px;
    }
}