*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color: black;
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}
/* codigo heeader  */

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 24%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
}

/* aca empieza el main y lo que contiene la pagina */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider {
    width: 100%;
    height: 400px;
    background-color: black;
    margin-bottom: 20px;
}

.video{
    width: 100%;
    height: 100%;
}

.rankings{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    margin-bottom: 20px;
}

.rankings a {
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    font-size: 150%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}



.rankings .ranking1{
    width: 32.3%;
    background-color:black;
    
}

.foto-rank{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}

@media(max-width:375px){
    /* aca es lo general y el header*/
    .container{
        width: 375px;
        }
    
        .barraNavegacion {
            height: 20px;
        }
    
        .barraNavegacion ul li a{
            font-size: 12px;
    
        }

        /* aca va el footer */
        footer{
            height: 50px;
            font-size: x-small;
           
        }

}