*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color: rgb(20, 20, 20);
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}
/* codigo heeader  */

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 19%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
}

.barraNavegacion ul li form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.barraNavegacion ul li form button{
    height: 100%;
    width: 15%;
    background-color: rgba(36, 144, 148, 0.70);
}
.barraNavegacion ul li form input{
    height: 100%;
    width: 85%;
    background-color: rgba(36, 144, 148, 0.70);
}


/* aca empieza el main y lo que contiene la pagina */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider {
    width: 100%;
    height: 400px;
    background-color: black;
    margin-bottom: 20px;
}

.video{
    width: 100%;
    height: 100%;
}

.rankings{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

/* codigo del ranking de los tracks */

.rankings .rankingTrack {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.rankings .rankingTrack h2 {
    width: 100%;
    height: 70px;
    margin: 5px 0;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rankings .rankingTrack .listadoTrack {
    width: 100%;
    height: 85%;
    padding: 0;
}

.rankings .rankingTrack .listadoTrack li {
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    background-color: grey;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.rankings .rankingTrack .listadoTrack li a{
    color: lightseagreen;
    text-decoration: none;
}

/* codigo del ranking de los albumes */

.rankings .rankingAlbum {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.rankings .rankingAlbum h2 {
    width: 100%;
    height: 70px;
    margin: 5px 0;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rankings .rankingAlbum .listadoAlbum {
    width: 100%;
    height: 85%;
    padding: 0;
}

.rankings .rankingAlbum .listadoAlbum li {
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    background-color: grey;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.rankings .rankingAlbum .listadoAlbum li a{
    color: lightseagreen;
    text-decoration: none;
}
/* codigo del ranking de artistas */

.rankings .rankingArtista {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.rankings .rankingArtista h2 {
    width: 100%;
    height: 70px;
    margin: 5px 0;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rankings .rankingArtista .listadoArtista {
    width: 100%;
    height: 85%;
    padding: 0;
}

.rankings .rankingArtista .listadoArtista li {
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    background-color: grey;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.rankings .rankingArtista .listadoArtista li a{
    color: lightseagreen;
    text-decoration: none;
}



/* aca empieza la estructura del footer */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}




@media(max-width:375px){
    /* aca es lo general y el header*/
    .container{
        width: 375px;
        }
    
        .barraNavegacion {
            height: 20px;
        }
    
        .barraNavegacion ul li a{
            font-size: 12px;
    
        }

        .foto-rank{
            width: 120px;
            height: 200px;
        }

        .rankings{
            height: 200px;
        }

        .slider{
            width: 375px;
        }

        .rankings .rankingArtista a {
            
            font-size: 22px;
        }
        .rankings .rankingAlbum a {
            
            font-size: 22px;
        }
        .rankings .rankingTrack a {
            
            font-size: 22px;
        }


        /* aca va el footer */
        footer{
            height: 50px;
            font-size: x-small;
           
        }

}