*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
    
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color: rgb(20, 20, 20);
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

/*aca empieza el codigo para el header de la pagina */

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.logoPagina .logopag{
  width: 35%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 19%;
    height: 100%;
    background-color: rgba(36, 144, 148, 0.70);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.barraNavegacion ul li form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.barraNavegacion ul li form button{
    height: 100%;
    width: 15%;
    background-color: rgba(36, 144, 148, 0.70);
}
.barraNavegacion ul li form input{
    height: 100%;
    width: 85%;
    background-color: rgba(36, 144, 148, 0.70);
}

/*aca empieza el codigo del main */

main{
    width: 100%;
}

.playlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

}

.playlist .infoPlaylist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist .infoPlaylist img {
    width: 200px;
}

.playlist .infoPlaylist .nombrePlaylist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist .nombrePlaylist h1{
    margin: 0;
    margin-top: 20px;
}

.playlist .nombrePlaylist h3{
    height: 30px;
    padding: 3px 20px;
    background-color: rgba(36, 144, 148, 0.70);
    margin: 15px 0px;

}

.playlist .canciones ol{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.playlist .canciones ol li {
    width: 100%;
    background-color: rgb(59, 59, 59);
    margin: 5px 0px 5px 5px;
    padding: 11px 0px 11px 7px;
    
}

.playlist .canciones ol .datos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
}

.playlist .canciones ol li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.playlist .canciones ol li a{
    text-decoration: none;
}

.playlist .canciones ol li .nombreCancion{
    color: lightseagreen;
    text-decoration: none;
}


/* aca empieza el codigo para el footer de la pagina*/

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
}

.footerNombres{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}

 /* SOCIAL MEDIA */

 .socialMedia {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 300px;

}

.fa{
    padding: 15px;
    font-size: 30px;
    width: 33%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fa:hover{
    box-shadow: 0 12px 16px 0 rgba(204, 201, 201, 0.24),0 17px 50px 0 rgba(202, 199, 199, 0.19);
}




.fa-facebook{
    background: #3B5998;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-instagram{
    background: #125688;
    color: white;
  }


.fa-twitter{
    background: #55ACEE;
    color: white;
}


@media (max-width:375px){

    .container{
    width: 375px;
    }

    .barraNavegacion {
        height: 20px;
    }

    .barraNavegacion ul li a{
        font-size: 12px;

    }

    .playlist .infoPlaylist img {
        width: 100px;
    }

    .playlist .nombrePlaylist h1{
        margin-top: 15px;
    }

    .playlist .nombrePlaylist h3{
        height: 25px;
        padding: 2px 15px;
        margin: 10px 0px;
        font-size: 15px;
    }
    .playlist .canciones ol li {
        height: 30px;
        padding: 6px 0px 6px 4px;
        font-size: 15px;
        
    }

}



