*{
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    background-color: black;
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 180px;
    margin-bottom: 0;
}

.logoPagina .logopag{
  width: 100%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 24%;
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
}

.cancion2{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.seguidoresArtista{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;

}

.nombreApellido{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.nombre-album-track{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.subnombre-album-track{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.estreno-album-track{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}

.genero-album-track{
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 8%;
}







footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foto-album-track {
  display: flex;
  justify-content: center;
}

.generalGenero{
    display: flex;
  justify-content: center;
}


.help{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;
}

.tango4{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;
}

.lewis{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;
}

.house{
    width: 50%;
    margin-top: 10%;
    border-radius: 8%;

}

.logoDeezer img {
    height: 100%;
}