*{
    box-sizing: border-box;
}

/* disenio del header */
body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
}

.container{
    width: 1180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

header{
    width:100%;
    margin-top: 15px;
}

.logoPagina{
    width: 180px;
    margin-bottom: 0;
}

.logoPagina .logopag{
  width: 100%;
}

.barraNavegacion {
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.barraNavegacion ul li{
    width: 24%;
    height: 100%;
    background-color: rgba(114, 111, 111, 0.555);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}

.barraNavegacion ul li a{
    width: 100%;
}

/* aca empieza el disenio del bodyyyy*/

.busqueda {
    width:100%;
}

.busqueda .respuestaBuscada {
    height: 30px;
    width: 100%;
    border: 2px dashed grey;
    display: flex;
    align-items: center;
}

.busqueda .respuestaBuscada a {
    width: 100%;
    padding-left: 3px;
}

.busqueda .listadoRespuestas {
    width: 100%;

}

.busqueda .listadoRespuestas ul{
    list-style: none;
    width: 100%;
    margin: 0;
}

.busqueda .listadoRespuestas ul li{
    width: 100%;
}

/* aca empieza el disenio de los divs dentro de los li */

.genero{
    width: 100%;
}

.generalGenero{
    width: 100%;
}

.generalGenero .fotoGenero {
    height: 100px;
    width: 10%;
    background-color: hotpink;
}

.generalGenero .nombreGenero {
    width: 100%;

}

/*aca empieza el disenio del footer */


footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.footerNombres{
    width: 90%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerNombres .nombres {
    width: 100%;
    color: cornsilk;
    padding-left: 15px;
}

.logoDeezer{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoDeezer img {
    height: 100%;
}
